    <div class="displayWrapper">

      <div class="organizesort">
        <label id="sortfilter">Sort By:</label>
        <!-- <div class="sortNotLoggedIn"ng-if="ctrl.loggedInUsername === null">
            <select  ng-model='ctrl.sort' ng-options='option.label for option in ctrl.sortNotLoggedIn'>
            </select>
        </div> -->
        <div class="sortLoggedIn" >
            <select  ng-model='ctrl.sort' ng-options='option.label for option in ctrl.sortLoggedIn' id="sortbutton">
            </select>
        </div>
      </div>

        <!-- <select class="sort"  >

            <option ng-value="['-createdAt','']" >Most Recent</option>
            <option ng-value="['name','']"selected>A-Z</option>
            <option ng-value="['-likes','']">Most Popular</option>
            <option ng-if="ctrl.loggedInUsername!==null" ng-value="['-createdAt',ctrl.loggedInUsername]">Submitted By {{ctrl.loggedInUsername}}</option>
            <option ng-if="ctrl.loggedInUsername!==null" ng-value="['-createdAt',{{location.likedAndLoved.loved}}]">Submitted By {{ctrl.loggedInUsername}}</option>


        </select> -->
        <h2>{{ctrl.selected[1]}}</h2>
        <div class="displayContainer">
            <div ng-repeat ="location in ctrl.location | orderBy:ctrl.sort.value | filter: (ctrl.sort.filter === 'user'? {'user1': ctrl.loggedInUsername}: (ctrl.sort.filter === 'favorites'? {'likedAndLoved': {'username': ctrl.loggedInUsername, 'loved': true} }:''))" ng-click="ctrl.changeInclude('show');ctrl.showOne(location._id)" class="displayItem" >

                <img  class="displayImg" ng-src="{{location.image}}" alt="">

                <div class="displayLikesAndFavorite">
                    <p class='likeLove' ng-click='$event.stopPropagation(); ctrl.likeAndLove(location, "like")'><img ng-src="{{ctrl.getLikeValue(location)? '../css/imgs/liked.png' : '../css/imgs/thumbsUp.png'}}" alt="Likes">  {{location.likes}}</p>
                    <h4>{{location.name}}</h4>
                    <p ng-click='$event.stopPropagation(); ctrl.likeAndLove(location, "love")' class='likeLove'><img ng-src="{{ctrl.getLoveValue(location)? '../css/imgs/loved.png' : '../css/imgs/favorite.png'}}" alt="favorite"></p>

                </div>
            </div>
        </div>
</div>
