<!-- Remove this html stuff, only here for testing purposes -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/app.css">
    </head>
    <body>
<!-- Delete everything above this (and don't forget the bottom of the page) -->
        <div class="displayContainer">
            <!-- ng-repeat will go in the div below -->
            <div class="displayItem" >
                <img class="displayImg" src="https://i.pinimg.com/originals/b7/21/02/b721020e2106502b20701cb2d5ef21e9.jpg" alt="">

                <div class="displayLikesAndFavorite">
                    <p><img src="../css/imgs/thumbsUp.png" alt="Likes">171</p>
                    <h3>Exeter, NH</h3>
                    <p><img src="../css/imgs/favorite.png" alt="favorite"></p>
                </div>

            </div>
            <!-- Delete these. Just for showing a populated page -->
            <div class="displayItem" >
                <img class="displayImg" src="https://i.pinimg.com/originals/b7/21/02/b721020e2106502b20701cb2d5ef21e9.jpg" alt="">

                <div class="displayLikesAndFavorite">
                    <p><img src="../css/imgs/thumbsUp.png" alt="Likes">171</p>
                    <h3>Exeter, NH</h3>
                    <p><img src="../css/imgs/favorite.png" alt="favorite"></p>
                </div>

            </div>
            <div class="displayItem" >
                <img class="displayImg" src="https://i.pinimg.com/originals/b7/21/02/b721020e2106502b20701cb2d5ef21e9.jpg" alt="">

                <div class="displayLikesAndFavorite">
                    <p><img src="../css/imgs/thumbsUp.png" alt="Likes">171</p>
                    <h3>Exeter, NH</h3>
                    <p><img src="../css/imgs/favorite.png" alt="favorite"></p>
                </div>

            </div>
            <div class="displayItem" >
                <img class="displayImg" src="https://i.pinimg.com/originals/b7/21/02/b721020e2106502b20701cb2d5ef21e9.jpg" alt="">

                <div class="displayLikesAndFavorite">
                    <p><img src="../css/imgs/thumbsUp.png" alt="Likes">171</p>
                    <h3>Exeter, NH</h3>
                    <p><img src="../css/imgs/favorite.png" alt="favorite"></p>
                </div>

            </div>
        </div>
<!-- Delete everything below this -->
    </body>
</html>
