<!-- Remove this html stuff, only here for testing purposes -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/app.css">
    </head>
    <body>
<!-- Delete everything above this (and don't forget the bottom of the page) -->
        <div class="editFormContainer">
            <form >
                <div class="form-group">
                    <label for="editLocationName">Edit Location Name</label>
                    <input id="editLocationName" class="form-control" type="text" >
                </div>
                <div class="form-group">
                    <label for="editLocationImage">Edit Image</label>
                    <input id="editLocationImage" class="form-control" type="url" >
                </div>
                <div class="form-group">
                    <label for="editLocationDescription">Update your Description</label>
                    <textarea id="editLocationDescription" class="form-control" rows="8" cols="80" ></textarea>
                </div>
                    <button type="submit" >Make Update</button>
                    <button type="button" >Remove Location</button>
            </form>
        </div>
<!-- Delete everything below this -->
    </body>
</html>
