
<div class="logindiv">
  <h2>Log In</h2>
  <form class="loginform" ng-submit="ctrl.logIn()">
            <input class="input1" type="text" ng-model="ctrl.username" placeholder="Username" /><br/>
            <input class="input1" type="password" ng-model="ctrl.password" placeholder="Password" /><br/>
            <input class="btn btn-primary" id="loginbutton" class="buttons" type="submit" value="Log In">
            <button class="btn btn-primary" type="button" ng-click="ctrl.changeInclude('display')" name="button">return</button>
  </form>
</div>
