<div class="showContainer">

    <h1 class="display-1">{{ctrl.oneLocation.name}}</h1>
    <img class='locationImg' ng-src="{{ctrl.oneLocation.image}}" alt="">
    <div class="showDescription">
        <p>{{ctrl.oneLocation.description}}</p>
        <p>Created: {{ctrl.oneLocation.createdAt | date:'MMM d, y'}} at {{ctrl.oneLocation.createdAt | date:'shortTime'}}</p>
        <p>Submitted By: {{ctrl.oneLocation.user1}}</p>
    </div>
    <div class="showButtons d-flex flex-row justify-content-center">
        <button class="btn btn-primary btn-lg m-3" type="button" ng-click='ctrl.changeInclude("display")'>Back</button>
        <button ng-if="ctrl.loggedInUsername === ctrl.oneLocation.user1" class="btn btn-primary btn-lg m-3" type="button" ng-click='ctrl.changeInclude("edit")'>Edit</button>
    </div>
</div>
